.cat-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cat-imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ul > li{
    display: block;
    width: auto;
    padding: 1rem;
    border: 1px solid black;
}
.input{
    display: none;
    flex-direction: column;
    width: 500px;
}
.input > input{
    margin-block: 0.6rem;
    padding: 0.3rem;
}
.cat-list{
    margin-right: 1rem;
    padding: 0.5rem;
}
.ct{
    object-fit: cover;
}