.cat-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cat-imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}